@using TaskManagementApp.Common
@{
    ViewData["Title"] = AppInfo.Title;
}

<div class="text-center">
    <h1 class="display-4">@AppInfo.Title  v @AppInfo.Version</h1>
    <p>@AppInfo.Description</a>.</p>
</div>
