@model TaskManagementApp.Models.TaskItem

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TaskItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="TaskId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueTime" class="control-label"></label>
                <input asp-for="DueTime" class="form-control" />
                <span asp-validation-for="DueTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <select asp-for="Priority" class="form-control" asp-items="Html.GetEnumSelectList<TaskManagementApp.Models.TaskPriority>()"></select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<TaskManagementApp.Models.TaskStatus>()"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AssignedToId" class="control-label"></label>
                <select asp-for="AssignedToId" class="form-control" asp-items="ViewBag.AssignedToId">
                    <option value="">None</option>
                </select>
                <span asp-validation-for="AssignedToId" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="CreatedById" />
            <input type="hidden" asp-for="CreatedAt"/>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
